﻿@model TechBcShop.Web.Models.Category

<form method="post" asp-action="Create" asp-controller="Categories" >
    <tr>
        <td>
        </td>
        <td>
            @Html.ValidationMessageFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </td>
        <td>
            @Html.ValidationMessageFor(model => model.Description)
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        </td>
        <td>
            <input class="btn btn-outline-success" type="submit" value="Add"/>
        </td>
    </tr>
</form>