﻿@model IEnumerable<TechBcShop.Web.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<div class="text-center">
    @Html.Partial("_Paging", Model)
    @{
        ViewData["Searches"] = new string[] { "Name", "Description" };
        ViewData["Sorts"] = new string[] { "Name", "Description" };
    }
    @Html.Partial("_PageOptions", Model)
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_InlineAddForm", new TechBcShop.Web.Models.Category())
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>