﻿@model TechBcShop.Web.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                           Category
                        </th>
                        <th>
                            Quantity
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.OrderProducts.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.OrderProducts[i].Product.Name)
                                @Html.HiddenFor(model => model.OrderProducts[i].Product.Name, new { @value = Model.OrderProducts[i].Product.Name })
                                @*@Html.HiddenFor(model => model.OrderProducts[i].Product.Id, new { @value = Model.OrderProducts[i].Product.Name })*@
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OrderProducts[i].Product.Price)
                                @Html.HiddenFor(model => model.OrderProducts[i].Product.Price, new { @value = Model.OrderProducts[i].Product.Price })
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OrderProducts[i].Product.Category.Name)
                                @Html.HiddenFor(model => model.OrderProducts[i].Product.Category.Name, new { @value = Model.OrderProducts[i].Product.Category.Name })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.OrderProducts[i].Quantity)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
