﻿<div class="container-fluid mt-2">
    <div class="row m-1">
        <div class="col"></div>
        <div class="col-1">
            <label class="col-form-label">Sort</label>
        </div>
        <div class="col-3">
            <select form="pageform" name="options.OrderPropertyName"
                    class="form-control">
                @foreach (string sort in ViewData["Sorts"] as string[])
                {
                    <option value="@sort"
                            selected="@(Model.Options.OrderPropertyName == sort)">
                        @(sort.IndexOf('.') == -1 ? sort : sort.Substring(0, sort.IndexOf('.')))
                    </option>
                }
            </select>
        </div>
        <div class="col form-check form-check-inline">
            <input form="pageform" type="checkbox" name="Options.DescendingOrder"
                   id="Options.DescendingOrder"
                   class="form-check-input" value="true"
                   checked="@Model.Options.DescendingOrder" />
            <label class="form-check-label">Descending Order</label>
        </div>
        <div class="col-1 text-right">
            <button form="pageform" class="btn btn-success" type="submit">
                Sort
            </button>
        </div>
        <div class="col"></div>
    </div>
</div>
